INSTALL
*.o
*.lo
*.la
configure
Makefile.in
missing
ltmain.sh
libtool
Makefile
.libs
aclocal.m4
config.guess
config.status
config.log
config.sub
depcomp
*~
autom4te.cache/
install-sh
ortp-config.h.in
ortp-config.h
ortp.spec
ortp.pc
ortp.doxygen
lt*.m4
libtool.m4
doc
ortp.defs
INSTALL
stamp-h1
*.vcxproj.*
compile
git-clang-format.diff
*.DS_Store
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
ORTPConfig.cmake
ORTPConfigVersion.cmake
ORTPTargets.cmake
build/CMakeFiles/
build/cmake_install.cmake
cmake_install.cmake
include/CMakeFiles/
include/cmake_install.cmake
src/CMakeFiles/
src/cmake_install.cmake
src/tests/CMakeFiles/
src/tests/cmake_install.cmake

